# Framework
django==2.2.9
django-environ==0.4.5
django-redis==4.11.0
django-redis-sessions==0.6.2
djangorestframework==3.9.4
argon2-cffi==19.2.0  # password hasher

# PostgreSQL
psycopg2==2.8.6
psycopg2-binary==2.8.6

# Gunicorn
gunicorn==20.0.4
gevent==21.1.2

# Celery
celery==4.4.0
flower==0.9.3

# Http request
requests==2.23.0
